recentf
emacs-autosaves/*
emacs-backup/*
org-roam.db
auto-save-list/*
eshell/*
url/*
request/*
save-sessions/*
notes
tramp
transient/*
abbrev_defs
elpa/archives/melpa/archive-contents
elpa/archives/gnu/archive-contents
